name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    uses: wjrm500/github-workflows/.github/workflows/docker-deploy.yml@main
    with:
      docker_image_name: 'wjrm500/wordlewise-frontend'
      docker_image_tag: 'latest'
      docker_compose_project_name: 'wordlewise'
      docker_compose_file_path: '/home/ServerConfig/wordlewise-docker-compose.yml'
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
      droplet_host: ${{ secrets.DROPLET_HOST }}
      droplet_user: ${{ secrets.DROPLET_USER }}
      droplet_ssh_key: ${{ secrets.DROPLET_SSH_KEY }}
